.banner__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .banner__content {
    display: flex;
    flex-direction: column-reverse;
    grid-gap: 0;
  }
  .banner__text {
    margin-top: -50px;
  }
}
